version: '3.9'

networks:
  l2_network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.2.0/24
  l3_network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.3.0/24

services:
  router:
    build: ./router/
    privileged: true
    restart: unless-stopped
    networks:
      l2_network:
        ipv4_address: 192.168.2.254
      l3_network:
        ipv4_address: 192.168.3.254

  scada:
    build: ./scada/
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    networks:
      l3_network:
        ipv4_address: 192.168.3.20
    ports:
      - '1881:1881'
    volumes:
      - scada-data:/usr/src/app/FUXA/server/_appdata
      
  plc:
    build: ./plc/
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    networks:
      l2_network:
        ipv4_address: 192.168.2.10
    ports:
      - "8080:8080"
    volumes:
      - plc-data:/workdir/webserver

  ews:
    build: ./ews/
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks:
      l3_network:
        ipv4_address: 192.168.3.11
    ports:
      - "5911:5911"
    volumes:
      - ews-data:/home/engineer/

  pentest:
    build: ./pentest/
    cap_add:
      - NET_ADMIN
      - NET_RAW
    privileged: true
    restart: unless-stopped
    networks:
      l3_network:
        ipv4_address: 192.168.3.30
    ports:
      - "2222:22"
      - "3443:3443"

  ids:
    build: ./ids/
    network_mode: host
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      
  collector:
    build: ./collector/
    networks:
      l3_network:
        ipv4_address: 192.168.3.40
    restart: unless-stopped
    ports:
      - "2443:2443"
      - "8766:8766"

  portal:
    build: ./portal/
    restart: unless-stopped
    ports:
      - "443:443"

volumes:
  scada-data:
  plc-data:    
  ews-data:
